# NOTE: Create a copy of this file, rename it to .env, and input your credentials. NEVER commit your copy to the codebase.

# Execution settings
# Options: local_sample, local_raw, aws_hub
EXECUTION_MODE=local_sample

# Historical Data settings
YEARS_OF_HISTORY=3
DATA_FREQUENCY=1m

# Machine Learning settings
TARGET_SYMBOL=BTCUSDT
FUTURE_HORIZON=15
TARGET_THRESHOLD=0.0
TRAIN_SPLIT_DATE=2024-01-01

# AWS Credentials (only required for aws_hub mode or uploading)
AWS_DEFAULT_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=dat204m-binance-bigdata-hub-sg
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_SESSION_TOKEN=your_session_token_if_any

# Local Java 21/17 configuration for PySpark (if default runtime is different)
# JAVA_HOME="C:\Program Files\Eclipse Adoptium\jdk-21.0.11.10-hotspot"
